{% extends 'base/page.html' %}

{% block content %}
<h1>Archive {{ archive }}</h1>

<ul>
{% for year in yearmonths %}
<li>{{ year['year'] }}:
{% for month in year['months'] %}
<a href="./?year={{ year['year'] }}&amp;month={{ month }}">{{ "%02d"%month }}</a>
{% endfor %}
</li>
{% endfor %}
</ul>
{% endblock content %}
